
.dialog {
   display: flex;
   align-items: center;
   font-size: 13px;
   cursor: pointer;
}

.dialog_wrapper {
   border-top: 1px solid #dce1e6;
}
.dialog_content {
   padding: 10px 20px;
}

.dialog_info {
   display: flex;
   align-items: center;
   width: 100%;
}

.dialog_info .username {
   flex: 1 1 100%;
}

.dialog_info .activitydate{
   white-space: nowrap;
   color: #818c99;;
}

.dialog_info img{
 
   width: 50px;
   border-radius: 50%;
   margin-right: 14px;
}