.userPhoto {
   width: 75px;
   border-radius: 50%;
}

.info {
   display: flex;
}

.wrapper {
   margin: 10px 0;
}

.content {
   padding: 10px 20px;
   display: flex;
   align-items: center;
   border: 3px solid #13CE66;
}

.left_container {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 0 20px;
}

.left_container button {
   border: 1px solid #13CE66;
   background-color: #13CE66;
   color: #fff;
   padding: 10px 20px;
   font-size: 18px;
   min-width: 120px;

}

.fullName, .right_container{
   font-weight: bold;
}

.middle_container {
   flex: 1 1 100%;
}

.right_container {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.selectedPage {
   font-weight: bold;
   background-color: #0b9248;
}

span {
   cursor: pointer;
   display: inline-flex;
   justify-content: center;
   align-items: center;
   margin: 0 10px 10px;
   padding: 10px;
   width: 20px;
   height: 20px;
   background-color: #13CE66;
   border-radius: 50%;
   color: #fff;
}