.header {
  grid-area: h;
  background-color: #fff;
  position: fixed;
  height: 48px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 120;
  
}

.header_wrapper{
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: inherit;
}

.header>img {
  width: 60px;
}

.logo{
  font-size: 20px;
  flex: 0 1 160px;
  text-align: center;
}

.username {
  margin-right: 20px;
  font-size: 15px;
}

.button_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  background-color: #E5EBF1;
  text-align: center;
  min-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  line-height: 30px;
  cursor: pointer;
  color: #47525E;
}