.dialogs {
   display: grid;
}

.content{
   background-color: #fff;
   grid-area: c;
   border-radius: 3px;
}

.dialog_content {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   /* justify-content: flex-start; */

}





