.messages {
   padding: 25px;
}

.message {
   padding: 20px;
   display: flex;
}

.message img{
   align-self: flex-start;
   margin-right: 20px;
   border-radius: 50%;
   width: 45px;
}

.message_content {
   display: flex;
   width: 100%;
}

.image_container{
   
}

.message_info {
   
}

.username {
   display: inline-flex;
   color: #2a5885;
   font-weight: bold;
   margin-right: 25px;
}

.date {
   display: inline-flex;
   color: #818c99;
}

.text {
   margin-top:8px;
}





